.footer {
  height: 100px;
  position: absolute;
  background: #00f;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-top: 1px solid #ddd;
  color: #fff;
  text-align: center;
  line-height: 80px; }
